# === Logs ===
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# === Dependencias ===
node_modules/

# === Build outputs ===
dist/
dist-ssr/

# === Archivos de preview local ===
*.local

# === Archivos de entorno / secretos ===
.env
.env.*
!.env.example   # si quieres dejar un template de ejemplo

# === Config local de Vercel (solo uso en tu máquina) ===
.vercel/

# === Configuración de editores ===
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# === Archivos temporales ===
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
