/* Reglas Globales de Estilo */

/* Reset de márgenes, relleno y ajuste de box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales del body */
body {
  font-family: 'Arial', sans-serif; /* Fuente general */
  position: relative;
  background-color: #f9f3ed; /* Color de fondo */
  margin: 0;
}

/* Estilo de la etiqueta <main>, ajusta el contenido */
main {
  min-height: 100vh;
  display: flex;
  align-items: flex-start; /* Se puede cambiar a 'center' si deseas centrar el contenido */
}

/* Estilo de tarjetas generales */
.card {
  padding: 2em;
  background-color: #ffffff; /* Fondo blanco */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilo para enlaces y textos generales */
.read-the-docs {
  color: #555; /* Gris oscuro para mayor legibilidad */
}
