/* === Estilos para el footer === */
footer {
  width: 100%;
  background-color: #f9f3ed; /* Fondo color claro */
  color: black; /* Texto negro */
  padding: 20px 0; /* Espaciado vertical */
  text-align: center; /* Alineación central del texto */
  position: static; /* Posición estática (por defecto) */
  z-index: 0; /* Z-index para el control de capas, no es necesario a menos que haya un conflicto */
  box-sizing: border-box; /* Incluye padding y border en el cálculo del tamaño */
}
