/* === Estilos generales para el Hero === */
.hero__section {
  width: 100%;
  max-width: 100%;
  height: 100%;
  background-color: #f9f3ed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero__wrapper {
  display: flex;
  flex-wrap: wrap;  /* Corregido de 'rap' a 'wrap' */
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero__visualsWrapper {
  position: relative;
  width: 100%;
  height: auto;
  overflow: visible;
  margin-bottom: clamp(100px, 6vh, 20px); /* recorta aire visual de la imagen */

}

.hero__leftColumn {
  width: clamp(400px, 33vw, 650px);
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: clamp(10px, 4vh, 40px);
  padding-left: clamp(40px, 3vw, 10px); 
  box-sizing: border-box;
  margin-left: clamp(10px, 9vw, 200px); 
  margin-bottom: 6vw;
}

.hero__rightColumn {
  position: relative; /* Esto asegura que el contenedor actúe como un contenedor relativo */
  width: 50%; /* Ajustamos el ancho de la columna derecha */
  height: 100%; /* Asegura que la columna tenga una altura completa */
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Controlamos la alineación de la imagen dentro de la columna */
  padding: 0 20px;
  box-sizing: border-box;
  margin-bottom: 4vw;
}

.hero__foto {
  position: absolute;
  top: clamp(-340px, -25vw, -600px);  /* Ajusta el valor para que la imagen sobresalga más arriba */
  left: 50%;
  transform: translateX(-50%);  /* Centra la imagen en el contenedor */
  width: clamp(1150px, 10vw, 1400px);  /* Tamaño de la imagen, ajustable */
  height: auto;
  max-width: 100vw;
  object-fit: cover;  /* Asegura que la imagen cubra el área sin deformarse */
  border-radius: 50%;  /* Hace que la imagen sea circular */
  z-index: 1;
  display: block;
}



.hero__mobileFotoWrapper {
  display: none;
}

.hero__textBox {
  width: 100%;
  z-index: 5;
  box-sizing: border-box;
  word-break: normal;
  overflow-wrap: break-word;
  hyphens: none;
}

.hero__box1 {
  font-size: clamp(36px, 4vw, 46px);
  line-height: 1.1;
  font-weight: bold;
  margin-top: clamp(70px, 18vh, 180px);
  margin-bottom: 25px;
  z-index: 10;
}

.hero__box2 {
  font-size: clamp(14px, 1.5vw, 18px);
  line-height: 1.5;
  margin-bottom: 30px;
}


.hero__box3 {
  font-size: clamp(14px, 1.5vw, 18px);
  line-height: 1.3;
  margin-bottom: 40px;
  font-weight: bold;
}

.hero__box5 {
  font-size: clamp(14px, 1.5vw, 16px);
  line-height: 1.5;
  margin-left: 0.5vw;
  margin-bottom: clamp(5px, 1vh, 10px);
}

.hero__boxButtons {
  display: flex;
  gap: 35px;
  margin-bottom: 4vh;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: clamp(5px, 4vh, 5px);  /* mueven los botones hacia abajo */
  margin-left: auto;   /* los empuja hacia la derecha */
  margin-right: auto;  /* centra horizontal si querés mantenerlo así */
  max-width: 100%;
  z-index: 3;
}

.hero__boxButtons button {
  background-color: #f57c00;
  color: #fff;
  padding: clamp(10px, 2vw, 16px) clamp(30px, 2vw, 40px);
  border-radius: 30px;
  cursor: pointer;
  border: none;
  height: clamp(40px, 3vh, 48px);
  width: clamp(110px, 20vw, 520px);
  font-size: clamp(14px, 2vw, 16px);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
;
}

.hero__boxButtons button:hover {
  background-color: #fff;
  color: #f57c00;
  border: 1px solid #7c7f58;
}

.hero__checkmark {
  display: flex;
  align-items: center;
  font-size: clamp(14px, 1.2vw, 15px);
  margin-bottom: 10px;
  padding-left: 0;
  word-break: normal;
  white-space: normal;
  hyphens: none;
}

.hero__checkmark img {
  margin-right: 10px;
  width: 25px;
  height: 25px;
}

@media (max-width: 767px) {
  .hero__section {
    min-height: 100vh;
    padding: 0 4vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .hero__wrapper {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 5vh;
  }

  .hero__leftColumn {
    width: 100%;
    align-items: center;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    z-index: 3;
  }

  .hero__rightColumn {
    display: none;
  }

  .hero__textBox {
    width: 100%;
    padding: 0 5vw;
    text-align: center;
  }

  .hero__box1 {
    font-size: clamp(32px, 6vw, 40px);
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 20px;
    line-height: 1.2;
  }

  .hero__box2 {
    font-size: clamp(14px, 3vw, 18px);
    margin-bottom: 25px;
    line-height: 1.5;
  }

  .hero__box3 {
    display: none;
  }

  .hero__boxButtons {
    flex-direction: column;
    align-items: center;
    gap: 14px;
    width: 100%;
    margin-bottom: 8vh;
  }

  .hero__boxButtons button {
    width: clamp(240px, 90vw, 590px);
    padding: clamp(12px, 1.5vh, 16px) clamp(30px, 8vw, 60px);
    font-size: clamp(16px, 2vw, 18px);
    font-weight: bold;
    border-radius: 20px;
  }

  .hero__box5 {
    font-size: clamp(14px, 4vw, 16px);
    margin-top: 5px;
    margin-bottom: 50px;
    text-align: center;
    line-height: 1.5;
    font-weight: bold;
  }

  .hero__checkmark {
    font-size: 0.9rem;
    margin-bottom: 10px;
    justify-content: center;
  }

  .hero__checkmark img {
    width: 24px;
    height: 21px;
    margin-right: 6px;
  }

  .hero__mobileFotoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px auto 30px;
    z-index: 1;
  }

  .hero__mobileFoto {
    width: clamp(280px, 90vw, 410px);
    height: auto;
    border-radius: 50%;
    transform: translate(0);
  }
}


@media (min-width: 768px) and (max-width: 1024px) {
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .hero__section {
    padding-left: 0;
    padding-right: 0;
    width: 100vw;
  }

  .menuHamburger,
  .menuMobileOverlay {
    display: none;
  }

  .headerNav {
    display: flex;
    gap: clamp(10px, 2vw, 20px);
    align-items: center;
  }

  .hero__section {
    padding-left: 0;
    padding-right: 0;
  }

  .hero__wrapper {
    max-width: 100vw;
    margin: 0;
    padding: 0;
    position: relative;
  }

  .hero__rightColumn {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    padding: 0 20px;
    width: 100%;
  }

  .hero__leftColumn {
    width: 100%;
    margin-left: 0;
    padding-left: 5vw;
    padding-top: clamp(20px, 4vh, 60px);
  }

  .hero__box1 {
    font-size: clamp(27px, 2vw, 38px);
    margin-top: 160px;
  }

  .hero__box2 {
    font-size: clamp(13px, 2.5vw, 18px);
  }

  .hero__box3 {
    font-size: clamp(12px, 2.5vw, 16px);
    margin-bottom: clamp(64px, 6vh, 82px);
  }

  .hero__box5 {
    font-size: clamp(14px, 1.8vw, 16px);
    margin-top: clamp(34px, 5vh, 52px);
  }

  .hero__boxButtons {
    position: absolute;
    bottom: clamp(30vh, 36vh, 50vh);
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    gap: clamp(16px, 4vw, 32px);
    z-index: 10;
    box-sizing: border-box;
  }

  .hero__boxButtons button {
    width: 48%;
    padding: clamp(14px, 1.6vw, 18px) clamp(24px, 3vw, 32px);
    font-size: clamp(14px, 1.6vw, 18px);
    height: clamp(45px, 5vh, 70px);
  }

  .hero__visualsWrapper {
    height: auto;
    margin-top: clamp(50px, 15vh, 20px);
    transform: scale(1.1);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: -12vw;
  }

  .hero__image {
    max-width: 90%;
    height: auto;
    object-fit: contain;
  }

  .hero__checkmark {
    font-size: 1rem;
    margin-bottom: 10px;
    justify-content: center;
  }

  .hero__checkmark img {
    width: 22px;
    height: 22px;
    margin-right: 6px;
  }
}
