/* Página de los tests */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  background-color: var(--color-crema);  /*Fondo suave */
}

h1 {
  font-size: clamp(2.2rem, 5vw, 3rem);
  font-weight: 800;
  color: var(--color-texto-principal);
  margin-bottom: 2rem;
  text-align: center;
}

.homeTests p {
  font-size: clamp(1rem, 1.5vw, 1.2rem);
  color: var(--color-texto-secundario);
  margin-bottom: 3rem;
  text-align: center;
  line-height: 1.6;
}


/* Sección de los tests */
.testSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 960px;
  width: 100%;
  margin-top: 3rem;
}

/* Tarjetas de los tests */
.testCard {
  background-color: var(--color-blanco);
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  transition: box-shadow 0.3s ease;
}

.testCard:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.testCard h3 {
  font-size: clamp(1.5rem, 4vw, 2rem);
  color: var(--color-texto-principal);
  margin-bottom: 1rem;
}

.testCard p {
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  color: var(--color-texto-secundario);
  line-height: 1.6;
}

.testCardButton {
  background-color: var(--color-boton);
  color: var(--color-blanco);
  padding: 1rem 2rem;
  border-radius: 999px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(160, 143, 109, 0.25);
  align-self: center;
  min-width: 260px;
}

.testCardButton:hover {
  background-color: var(--color-boton-hover);
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(160, 143, 109, 0.35);
}
