/* index.css */

/* Fuente moderna, multiplataforma */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

/* Reset general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo general */
html, body, #root {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  background-color: #f9f3ed;
  font-family: 'Inter', sans-serif;
  color: #1e1e1e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
}
