/* Estilos generales */
.container {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.card {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
  max-width: 680px;
  width: 100%;
  text-align: center;
  opacity: 1; /* Agregar animación más tarde */
  transition: opacity 0.35s ease-out, transform 0.35s ease-out;
}

.question {
  margin-bottom: 2rem;
  font-size: 1.35rem;
  color: #1e364d;
}

.button {
  width: 100%;
  max-width: 500px;
  padding: clamp(0.7rem, 2vh, 1rem) clamp(1.5rem, 4vw, 2rem);
  font-size: clamp(1rem, 1.2vw, 1.1rem);
  border-radius: 0.8rem;
  border: 2px solid #7c7f58;
  background-color: #fff;
  color: #1e364d;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 2rem;;
}

/* Hover del botón */
.button:hover {
  background-color: #f57c00; /* Verde oliva TDR */
  color: #fff;
  border: 2px solid #f57c00; /* Naranja TDR */
}
