/* Contenedor principal */
.resultadoContainer {
  padding: 2rem;
  background-color: #fff; /* Fondo blanco */
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
}

/* Título */
.resultadoTitle {
  font-size: clamp(1.5rem, 5vw, 2rem);
  color: #1e364d; /* Texto: Color principal TDR */
  margin-bottom: 1rem;
}

/* Descripción */
.resultadoDescription {
  font-size: 1rem;
  color: #444; /* Color más oscuro para el texto */
  line-height: 1.6;
}

/* Botón */
.botonTDR {
  background-color: #f57c00; /* Naranja */
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
  text-decoration: none;
  font-size: 1rem;
  display: inline-block;
  transition: background-color 0.3s;
}

.botonTDR:hover {
  background-color: #7c7f58; /* Verde oliva para hover */
}

/* Separador */
.separador {
  margin: 2rem 0;
  border-top: 1px solid #ccc;
}
