/* Contenedor principal */
.resultContainer {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: #fff;  /*Fondo TDR*/
  min-height: 100vh;
  font-family: 'Manrope', sans-serif;
} 

/* Sección de resultados */
.resultSection {
  background-color: #f6f5f2;
  padding: 3rem 2rem;
  border-radius: 2rem;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.05);
  max-width: 700px;
  width: 100%;
  color: #2f2f2f;
  margin: 4rem auto;
}

/* Títulos */
.resultTitle {
  font-size: 1.75rem;
  font-weight: 700;
  color: #1e364d; /* Texto principal TDR */
  margin-bottom: 2rem;
}

/* Subtítulos */
.resultSubTitle {
  font-size: 1.25rem;
  color: #3c5a46;
  margin-bottom: 0.5rem;
}

/* Texto general */
.resultText {
  margin-bottom: 2rem;
  line-height: 1.7;
}

.resultText p {
  font-size: 1.05rem;
  line-height: 1.7;
  margin-bottom: 1.4rem;
  color: #333;
}

.resultText strong {
  display: block;
  font-weight: 600;
  margin-bottom: 0.3rem;
  color: #111;
}

/* Separador */
.resultSeparator {
  border: none;
  border-top: 1px solid #ddd;
  margin: 2rem 0;
}

/* Botón de acción */
.resultButton {
  background-color: #f57c00; /* Naranja TDR */
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  display: inline-block;
  transition: background-color 0.3s;
  margin-top: 2rem;

}

.resultButton:hover {
  background-color: #7c7f58; /* Verde oliva TDR */
  transform: scale(1.03);
}

/* Estilos de texto en la frase */
.resultFrase {
  font-style: italic;
  color: #3c5a46;
  margin-top: 1rem;
}
